.home{
    height: 80vh;
    min-width: 80vw;
    border-radius: 50px;
    
}

.bodywrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #F7F7F7;
    position: relative;
    box-shadow: 0 0 15px 5px rgb(0, 0, 0);
    &__left{
        height: 100%;

        &__balance{
            display: flex;
            align-items:center;
            height: 100%;
            font-size: 80px;
            justify-content: center;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        &__donate{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &__form{
                width: 80%;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;


                & form{

                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    & input{

                        outline: none;
                        border: none;
                        width: 100%;
                        border-radius: 50px;
                        padding: 0.5rem 1rem;
                        border: 2px solid #ffa260 ;

                    }

                    & input[type=text],input[type=number]{
                        background-color: rgba(128, 128, 128, 0.082);
                    }

                    & input[type=submit]{
                        width: max-content;
                    }


                }
            }

        }

        &__donators{
            display:grid;
            height: 100%;
            flex-direction: column;
            background-color: orangered;
            overflow: auto;
            border-radius: 0 0 50px 0px;

        }
    }


   
}
.thanks{
    position: absolute;
    top: 5%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    opacity: 0;
    transition: all 2s ease-in-out;
    background-color: #00C897;
    color: white;
    font-weight: bolder;
    border-radius: 50px;
}

.campaign__end{
    background-color: greenyellow;
    color: white;
    text-align: center;
    border-radius: inherit;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.507);
}

@media screen and (max-width: 1000px) {
    .bodywrapper{
        width: 20%;
        grid-template-columns: repeat(1,1fr);

        &__left{
            height: 100%;
            &__balance{
                font-size: 40px;
            }
        }
        &__right{
            height: 100%;
        }
    }
}