.donator{
    display: flex;
    border: 1px solid #000000;
    border-radius: 20px;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
}